openapi: 3.0.1
info:
  description: "APIs for the dealers’ and clients’ interactions with financial market\
    \ infrastructure services (Trade matching middleware, CCPs, CSDs) for the Barclays\
    \ 2023 Repo Hackathon.<br>Please ensure you include your API key in the `x-api-key`\
    \ header of your requests."
  title: Barclays RepoHack 2023 API
  version: "1.0"
servers:
- description: PROD
  url: https://repohack2023.nayaone.com/
tags:
- description: Use these ping endpoints to test connectivity to hackathon APIs. <br>The
    `/public-ping` API does not need you to provide an API key and is useful to test
    your connectivity to the hackathon server.<br>The `/auth-ping` API requires your
    team's API key and is useful to test authentication.<br>If you are able to hit
    both APIs and successfully receive response back then you are ready to rock and
    roll and interact with the rest of the APIs during the hackathon.
  name: Start Here!
- description: This API enables simulation of dealers’ and clients’ interaction with
    the Trading Matching Middleware services.<br>
  name: Trade Execution API
- description: This API enables simulation of dealers’ and clients’ interaction with
    the central counterparty (CCP) trade clearing service.<br>
  name: Trade Clearing API
- description: This API enables simulation of dealers’ and clients’ interactions with
    the central securities depository (CSD) services.<br>
  name: Trade Settlement API
- description: These APIs provide dealers and clients the query gateway to retrieve
    the trades workflow statuses and trade business events from the FMIs. <br>The
    `/repoTrades/tradeWorkflowStatus/` API provides workflow status of trades processed
    at the FMIs.<br>The `/repoTrades/tradeBusinessEventsQuery/` API provides trade
    business events processed at the FMIs.<br>
  name: Trade Query API
paths:
  /repoTrades/tradeBusinessEventsQuery/:
    post:
      description: Get the trade business events processed at the FMIs.
      operationId: get-businessEvents
      parameters:
      - description: Unique request identifier for the request.
        example: 5e970526-6ebe-4d9f-bab5-9f05fa07dcfd
        explode: false
        in: header
        name: x-api-request-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique team identifier provided to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of the party retrieving the trade(s) data. Possible values\
          \ CLIENT01,CLIENT02,CLIENT03 OR DEALER01,DEALER02 OR CCP01 for cleared trades."
        example: DEALER01
        explode: false
        in: header
        name: x-financial-member-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Date on which the trade(s) was processed at the FMIs. The value
          should be specified in ISO date format(yyyy-MM-dd).
        example: 2023-09-21
        explode: false
        in: header
        name: x-simulation-date
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeBusinessEventsQueryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeBusinessEventsQueryResponse'
          description: Successfully retrieved trade business events
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad/Invalid request.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource not found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          description: Access Denied to API.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal Server Error.
      summary: Get trade business events.
      tags:
      - Trade Query API
      x-content-type: application/json
      x-accepts: application/json
  /repoTrades/settlement:
    post:
      description: "Submit the trade request to the CSD's settlement service. <br><br>\
        \ Input to this API is a contract formation business event in CDM format.\
        \ For UC1, it is the business event returned by the trade matching middleware\
        \ service. For UC2 it is the business events returned by the clearing service.\
        \ <br><br> You can use the Rosetta Technology Portal to understand the specification\
        \ of a business event."
      operationId: post-settlement-request
      parameters:
      - description: Unique request identifier for the request.
        example: 5e970526-6ebe-4d9f-bab5-9f05fa07dcfd
        explode: false
        in: header
        name: x-api-request-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique team identifier provided to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of the party submitting the trade (should match with the\
          \ value specified in the input business event). Possible values are CLIENT01,CLIENT02,CLIENT03\
          \ OR DEALER01,DEALER02 OR CCP01 for cleared trades."
        example: DEALER01
        explode: false
        in: header
        name: x-financial-member-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Date on which the trade will be submitted for processing to the
          FMI.  Note that this parameter enables you to fast forward through the trade
          lifecycle for the purpose of the hackathon. The value must be specified
          in ISO date format(yyyy-MM-dd).
        example: 2023-09-21
        explode: false
        in: header
        name: x-simulation-date
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoTradeSubmissionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad/Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          description: Access Denied to API.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal Server Error.
      summary: Submit trade settlement request.
      tags:
      - Trade Settlement API
      x-content-type: application/json
      x-accepts: application/json
  /repoTrades/execution:
    post:
      description: 'Submit the trade request to the matching service of the trade
        matching middleware. '
      operationId: post-execution-request
      parameters:
      - description: Unique request identifier for the request.
        example: 5e970526-6ebe-4d9f-bab5-9f05fa07dcfd
        explode: false
        in: header
        name: x-api-request-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique team identifier provided to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of the party submitting the trade (should match with the\
          \ value specified in the input trade data). Possible values are CLIENT01,CLIENT02,CLIENT03\
          \ OR DEALER01,DEALER02."
        example: CLIENT02
        explode: false
        in: header
        name: x-financial-member-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Date on which the trade will be submitted for processing to the
          FMI. Note that this parameter enables you to fast forward through the trade
          lifecycle for the purpose of the hackathon. The value must be specified
          in ISO date format(yyyy-MM-dd).
        example: 2023-09-21
        explode: false
        in: header
        name: x-simulation-date
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoTradeExecutionSubmissionRequest'
        description: Repo Trade Execution Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoTradeSubmissionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad/Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          description: Access Denied to API.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal Server Error.
      summary: Submit trade execution request.
      tags:
      - Trade Execution API
      x-content-type: application/json
      x-accepts: application/json
  /repoTrades/clearing:
    post:
      description: Submit the trade request to CCP's clearing service. <br><br> Input
        to this API is a contract formation business event (in CDM format) received
        from the trade matching service. <br><br> You can use the Rosetta Technology
        Portal to understand the specification of a business event
      operationId: post-settlement-request_1
      parameters:
      - description: Unique request identifier for the request.
        example: 5e970526-6ebe-4d9f-bab5-9f05fa07dcfd
        explode: false
        in: header
        name: x-api-request-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique team identifier provided to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of the party submitting the trade (should match with the\
          \ value specified in the input business event data). Possible values are\
          \ CLIENT01,CLIENT02,CLIENT03 OR DEALER01,DEALER02."
        example: CLIENT02
        explode: false
        in: header
        name: x-financial-member-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Date on which the trade will be submitted for processing to the
          FMI. Note that this parameter enables you to fast forward through the trade
          lifecycle for the purpose of the hackathon. The value must be specified
          in ISO date format(yyyy-MM-dd).
        example: 2023-09-21
        explode: false
        in: header
        name: x-simulation-date
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearingRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoTradeSubmissionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad/Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          description: Access Denied to API.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal Server Error.
      summary: Submit trade clearing request.
      tags:
      - Trade Clearing API
      x-content-type: application/json
      x-accepts: application/json
  /start-here/public-ping:
    get:
      operationId: getPublicPing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
          description: OK
      tags:
      - Start Here!
      x-accepts: application/json
  /start-here/auth-ping:
    get:
      operationId: getAuthPing
      parameters:
      - description: Unique team id assigned to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
          description: OK
      tags:
      - Start Here!
      x-accepts: application/json
  /repoTrades/tradeWorkflowStatus/:
    get:
      description: Get workflow statuses of the trades processed at the FMIs.
      operationId: get-workflowEvents
      parameters:
      - description: Unique request identifier for the request.
        example: 5e970526-6ebe-4d9f-bab5-9f05fa07dcfd
        explode: false
        in: header
        name: x-api-request-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique team identifier provided to your team.
        example: TEAM0XX
        explode: false
        in: header
        name: x-participant-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of the party retrieving the workflow statuses for its trade(s)\
          \ processed at the FMIs. Possible values are CLIENT01,CLIENT02,CLIENT03\
          \ OR DEALER01,DEALER02 OR CCP01 for cleared trades."
        example: CLIENT02
        explode: false
        in: header
        name: x-financial-member-id
        required: true
        schema:
          type: string
        style: simple
      - description: API authorization key provided to your team.
        example: TEAM0XX_ABCDCEFGHIJabcdefghij12345668438383_0XX
        explode: false
        in: header
        name: x-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for the trade.
        example: UC2Q0EKXFH6260
        explode: true
        in: query
        name: tradeId
        required: false
        schema:
          type: string
        style: form
      - description: "Name of the financial market infrastructure for which you will\
          \ like to pull the trades details. Possible values are: TRADE_MATCHING_SERVICE,\
          \ TRADE_CLEARING_SERVICE, TRADE_SETTLEMENT_SERVICE"
        example: TRADE_MATCHING_SERVICE
        explode: true
        in: query
        name: fmi
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeWorkflowStatusResponse'
          description: Successfully retrieved trade workflow statuses
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad/Invalid request.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource not found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
          description: Access Denied to API.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal Server Error.
      summary: Get trade workflow statuses.
      tags:
      - Trade Query API
      x-accepts: application/json
components:
  schemas:
    AccessDeniedResponse:
      properties:
        timestamp:
          example: 2023-09-08T09:20:05.0599323Z
          format: date-time
          title: Timestamp of the error.
          type: string
        status:
          example: 403
          format: int32
          title: HTTPS Status code.
          type: integer
        error:
          example: Forbidden
          title: Description of the HTTP Status code.
          type: string
        message:
          example: Access Denied
          title: Error message.
          type: string
        path:
          example: /start-here/auth-ping
          title: URI details.
          type: string
      type: object
    BadRequestResponse:
      properties:
        statusCode:
          example: 400
          format: int32
          title: HTTPS Status code.
          type: integer
        name:
          example: Bad Request
          title: Description of the HTTP Status code.
          type: string
        message:
          example: Invalid x-financial-member-id passed
          title: Error message.
          type: string
      type: object
    BusinessEventData:
      example:
        businessEvents:
        - businessEventName: TradeContractFormedEvent
          businessEventSeq: 1
          businessEventData:
            effectiveDate: 2023-09-21
            eventDate: 2023-09-21
            instruction:
            - before:
                value:
                  state:
                    positionState: EXECUTED
                  trade:
                    party:
                    - account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                    - account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                    partyRole:
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: DEALER02-ACCOUNT01
                          meta:
                            globalKey: 374231c5
                          name:
                            value: DEALER02
                          partyId:
                          - identifier:
                              value: DEALER02-ACCOUNT01
                      role: BUYER
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: CLIENT02-ACCOUNT02
                          meta:
                            globalKey: c9569656
                          name:
                            value: CLIENT02
                          partyId:
                          - identifier:
                              value: CLIENT02-LEI02
                      role: SELLER
                    tradableProduct:
                      counterparty:
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: DEALER02-ACCOUNT01
                            meta:
                              globalKey: 374231c5
                            name:
                              value: DEALER02
                            partyId:
                            - identifier:
                                value: DEALER02-ACCOUNT01
                        role: PARTY_1
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: CLIENT02-ACCOUNT02
                            meta:
                              globalKey: c9569656
                            name:
                              value: CLIENT02
                            partyId:
                            - identifier:
                                value: CLIENT02-LEI02
                        role: PARTY_2
                      product:
                        contractualProduct:
                          productTaxonomy:
                          - source: OTHER
                            productQualifier: RepurchaseAgreement
                          economicTerms:
                            collateral:
                              collateralPortfolio:
                              - value:
                                  collateralPosition:
                                  - product:
                                      contractualProduct:
                                        economicTerms:
                                          payout:
                                            assetPayout:
                                            - payerReceiver:
                                                payer: PARTY_2
                                                receiver: PARTY_1
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-21
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                                            - payerReceiver:
                                                payer: PARTY_1
                                                receiver: PARTY_2
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-26
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                              collateralProvisions:
                                collateralType: NON_CASH
                                eligibleCollateral:
                                - criteria:
                                  - treatment:
                                      valuationTreatment:
                                        haircutPercentage: 0.02
                                        marginPercentage: 98.4
                            effectiveDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-21
                            payout:
                              interestRatePayout:
                              - payerReceiver:
                                  payer: PARTY_1
                                  receiver: PARTY_2
                                principalPayment:
                                  finalPayment: true
                                  initialPayment: true
                                  intermediatePayment: false
                                  principalPaymentSchedule:
                                    finalPrincipalPayment:
                                      payerReceiver:
                                        payer: PARTY_2
                                        receiver: PARTY_1
                                      principalAmount:
                                        value: 5788297.78
                                      principalPaymentDate:
                                        unadjustedDate: 2023-09-26
                                    initialPrincipalPayment:
                                      payerReceiver:
                                        payer: PARTY_1
                                        receiver: PARTY_2
                                      principalAmount:
                                        value: 5785920.0
                                      principalPaymentDate:
                                        unadjustedDate: 2023-09-21
                                calculationPeriodDates:
                                  effectiveDate:
                                    adjustableDate:
                                      unadjustedDate: 2023-09-21
                                  terminationDate:
                                    adjustableDate:
                                      unadjustedDate: 2023-09-26
                                dayCountFraction:
                                  value: ACT/360
                                rateSpecification:
                                  fixedRate:
                                    rateSchedule:
                                      price:
                                        value:
                                          unit:
                                            currency:
                                              value: GBP
                                          value: 0.05
                                          perUnitOf:
                                            currency:
                                              value: GBP
                                          priceExpression:
                                            priceType: INTEREST_RATE
                            terminationDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-26
                      tradeLot:
                      - priceQuantity:
                        - meta:
                            globalKey: b3c54555
                          price:
                          - value:
                              unit:
                                currency:
                                  value: GBP
                              value: 0.05
                              perUnitOf:
                                currency:
                                  value: GBP
                              priceExpression:
                                priceType: INTEREST_RATE
                          quantity:
                          - value:
                              unit:
                                currency:
                                  value: GBP
                              value: 5785920.0
                        - meta:
                            globalKey: e23658fc
                          observable:
                            productIdentifier:
                            - value:
                                identifier:
                                  value: GBYGEZTLXN1
                          price:
                          - value:
                              value: 6000000.0
                              perUnitOf:
                                financialUnit: CONTRACTUAL_PRODUCT
                              priceExpression:
                                cleanOrDirty: DIRTY
                                priceExpression: PERCENTAGE_OF_NOTIONAL
                                priceType: ASSET_PRICE
                          quantity:
                          - value:
                              unit:
                                financialUnit: CONTRACTUAL_PRODUCT
                              value: 6000000.0
                    tradeDate:
                      value: 2023-09-21
                    tradeIdentifier:
                    - assignedIdentifier:
                      - identifier:
                          value: UC1Q0EKXFH6260
            intent: CONTRACT_FORMATION
            after:
            - state:
                positionState: FORMED
              trade:
                party:
                - account:
                    accountName:
                      value: DEALER02-ACCOUNT01
                  meta:
                    globalKey: 374231c5
                  name:
                    value: DEALER02
                  partyId:
                  - identifier:
                      value: DEALER02-ACCOUNT01
                - account:
                    accountName:
                      value: CLIENT02-ACCOUNT02
                  meta:
                    globalKey: c9569656
                  name:
                    value: CLIENT02
                  partyId:
                  - identifier:
                      value: CLIENT02-LEI02
                partyRole:
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                  role: BUYER
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                  role: SELLER
                tradableProduct:
                  counterparty:
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: DEALER02-ACCOUNT01
                        meta:
                          globalKey: 374231c5
                        name:
                          value: DEALER02
                        partyId:
                        - identifier:
                            value: DEALER02-ACCOUNT01
                    role: PARTY_1
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: CLIENT02-ACCOUNT02
                        meta:
                          globalKey: c9569656
                        name:
                          value: CLIENT02
                        partyId:
                        - identifier:
                            value: CLIENT02-LEI02
                    role: PARTY_2
                  product:
                    contractualProduct:
                      productTaxonomy:
                      - source: OTHER
                        productQualifier: RepurchaseAgreement
                      economicTerms:
                        collateral:
                          collateralPortfolio:
                          - value:
                              collateralPosition:
                              - product:
                                  contractualProduct:
                                    economicTerms:
                                      payout:
                                        assetPayout:
                                        - payerReceiver:
                                            payer: PARTY_2
                                            receiver: PARTY_1
                                          priceQuantity:
                                            quantitySchedule:
                                              value:
                                                unit:
                                                  financialUnit: CONTRACTUAL_PRODUCT
                                                value: 6000000.0
                                          assetLeg:
                                          - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                            settlementDate:
                                              adjustableDate:
                                                unadjustedDate: 2023-09-21
                                          durationType:
                                            durationType: TERM
                                          securityInformation:
                                            security:
                                              productIdentifier:
                                              - value:
                                                  identifier:
                                                    value: GBYGEZTLXN1
                                                  source: ISIN
                                        - payerReceiver:
                                            payer: PARTY_1
                                            receiver: PARTY_2
                                          priceQuantity:
                                            quantitySchedule:
                                              value:
                                                unit:
                                                  financialUnit: CONTRACTUAL_PRODUCT
                                                value: 6000000.0
                                          assetLeg:
                                          - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                            settlementDate:
                                              adjustableDate:
                                                unadjustedDate: 2023-09-26
                                          durationType:
                                            durationType: TERM
                                          securityInformation:
                                            security:
                                              productIdentifier:
                                              - value:
                                                  identifier:
                                                    value: GBYGEZTLXN1
                                                  source: ISIN
                          collateralProvisions:
                            collateralType: NON_CASH
                            eligibleCollateral:
                            - criteria:
                              - treatment:
                                  valuationTreatment:
                                    haircutPercentage: 0.02
                                    marginPercentage: 98.4
                        effectiveDate:
                          adjustableDate:
                            unadjustedDate: 2023-09-21
                        payout:
                          interestRatePayout:
                          - payerReceiver:
                              payer: PARTY_1
                              receiver: PARTY_2
                            principalPayment:
                              finalPayment: true
                              initialPayment: true
                              intermediatePayment: false
                              principalPaymentSchedule:
                                finalPrincipalPayment:
                                  payerReceiver:
                                    payer: PARTY_2
                                    receiver: PARTY_1
                                  principalAmount:
                                    value: 5788297.78
                                  principalPaymentDate:
                                    unadjustedDate: 2023-09-26
                                initialPrincipalPayment:
                                  payerReceiver:
                                    payer: PARTY_1
                                    receiver: PARTY_2
                                  principalAmount:
                                    value: 5785920.0
                                  principalPaymentDate:
                                    unadjustedDate: 2023-09-21
                            calculationPeriodDates:
                              effectiveDate:
                                adjustableDate:
                                  unadjustedDate: 2023-09-21
                              terminationDate:
                                adjustableDate:
                                  unadjustedDate: 2023-09-26
                            dayCountFraction:
                              value: ACT/360
                            rateSpecification:
                              fixedRate:
                                rateSchedule:
                                  price:
                                    value:
                                      unit:
                                        currency:
                                          value: GBP
                                      value: 0.05
                                      perUnitOf:
                                        currency:
                                          value: GBP
                                      priceExpression:
                                        priceType: INTEREST_RATE
                        terminationDate:
                          adjustableDate:
                            unadjustedDate: 2023-09-26
                  tradeLot:
                  - priceQuantity:
                    - meta:
                        globalKey: b3c54555
                      price:
                      - value:
                          unit:
                            currency:
                              value: GBP
                          value: 0.05
                          perUnitOf:
                            currency:
                              value: GBP
                          priceExpression:
                            priceType: INTEREST_RATE
                      quantity:
                      - value:
                          unit:
                            currency:
                              value: GBP
                          value: 5785920.0
                    - meta:
                        globalKey: e23658fc
                      observable:
                        productIdentifier:
                        - value:
                            identifier:
                              value: GBYGEZTLXN1
                      price:
                      - value:
                          value: 6000000.0
                          perUnitOf:
                            financialUnit: CONTRACTUAL_PRODUCT
                          priceExpression:
                            cleanOrDirty: DIRTY
                            priceExpression: PERCENTAGE_OF_NOTIONAL
                            priceType: ASSET_PRICE
                      quantity:
                      - value:
                          unit:
                            financialUnit: CONTRACTUAL_PRODUCT
                          value: 6000000.0
                tradeDate:
                  value: 2023-09-21
                tradeIdentifier:
                - assignedIdentifier:
                  - identifier:
                      value: UC1Q0EKXFH6260
            eventQualifier: ContractFormation
            meta:
              globalKey: 6a58abb
          eventCreatedDate: 2023-08-25T10:26:24.441Z
        - businessEventName: TradeContractFormedEvent
          businessEventSeq: 1
          businessEventData:
            effectiveDate: 2023-09-21
            eventDate: 2023-09-21
            instruction:
            - before:
                value:
                  state:
                    positionState: EXECUTED
                  trade:
                    party:
                    - account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                    - account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                    partyRole:
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: DEALER02-ACCOUNT01
                          meta:
                            globalKey: 374231c5
                          name:
                            value: DEALER02
                          partyId:
                          - identifier:
                              value: DEALER02-ACCOUNT01
                      role: BUYER
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: CLIENT02-ACCOUNT02
                          meta:
                            globalKey: c9569656
                          name:
                            value: CLIENT02
                          partyId:
                          - identifier:
                              value: CLIENT02-LEI02
                      role: SELLER
                    tradableProduct:
                      counterparty:
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: DEALER02-ACCOUNT01
                            meta:
                              globalKey: 374231c5
                            name:
                              value: DEALER02
                            partyId:
                            - identifier:
                                value: DEALER02-ACCOUNT01
                        role: PARTY_1
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: CLIENT02-ACCOUNT02
                            meta:
                              globalKey: c9569656
                            name:
                              value: CLIENT02
                            partyId:
                            - identifier:
                                value: CLIENT02-LEI02
                        role: PARTY_2
                      product:
                        contractualProduct:
                          productTaxonomy:
                          - source: OTHER
                            productQualifier: RepurchaseAgreement
                          economicTerms:
                            collateral:
                              collateralPortfolio:
                              - value:
                                  collateralPosition:
                                  - product:
                                      contractualProduct:
                                        economicTerms:
                                          payout:
                                            assetPayout:
                                            - payerReceiver:
                                                payer: PARTY_2
                                                receiver: PARTY_1
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-21
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                                            - payerReceiver:
                                                payer: PARTY_1
                                                receiver: PARTY_2
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-26
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                              collateralProvisions:
                                collateralType: NON_CASH
                                eligibleCollateral:
                                - criteria:
                                  - treatment:
                                      valuationTreatment:
                                        haircutPercentage: 0.02
                                        marginPercentage: 98.4
                            effectiveDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-21
                            payout:
                              interestRatePayout:
                              - payerReceiver:
                                  payer: PARTY_1
                                  receiver: PARTY_2
                                principalPayment:
                                  finalPayment: true
                                  initialPayment: true
                                  intermediatePayment: false
                                  principalPaymentSchedule:
                                    finalPrincipalPayment:
                                      payerReceiver:
                                        payer: PARTY_2
                                        receiver: PARTY_1
                                      principalAmount:
                                        value: 5788297.78
                                      principalPaymentDate:
                                        unadjustedDate: 2023-09-26
                                    initialPrincipalPayment:
                                      payerReceiver:
                                        payer: PARTY_1
                                        receiver: PARTY_2
                                      principalAmount:
                                        value: 5785920.0
                                      principalPaymentDate:
                                        unadjustedDate: 2023-09-21
                                calculationPeriodDates:
                                  effectiveDate:
                                    adjustableDate:
                                      unadjustedDate: 2023-09-21
                                  terminationDate:
                                    adjustableDate:
                                      unadjustedDate: 2023-09-26
                                dayCountFraction:
                                  value: ACT/360
                                rateSpecification:
                                  fixedRate:
                                    rateSchedule:
                                      price:
                                        value:
                                          unit:
                                            currency:
                                              value: GBP
                                          value: 0.05
                                          perUnitOf:
                                            currency:
                                              value: GBP
                                          priceExpression:
                                            priceType: INTEREST_RATE
                            terminationDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-26
                      tradeLot:
                      - priceQuantity:
                        - meta:
                            globalKey: b3c54555
                          price:
                          - value:
                              unit:
                                currency:
                                  value: GBP
                              value: 0.05
                              perUnitOf:
                                currency:
                                  value: GBP
                              priceExpression:
                                priceType: INTEREST_RATE
                          quantity:
                          - value:
                              unit:
                                currency:
                                  value: GBP
                              value: 5785920.0
                        - meta:
                            globalKey: e23658fc
                          observable:
                            productIdentifier:
                            - value:
                                identifier:
                                  value: GBYGEZTLXN1
                          price:
                          - value:
                              value: 6000000.0
                              perUnitOf:
                                financialUnit: CONTRACTUAL_PRODUCT
                              priceExpression:
                                cleanOrDirty: DIRTY
                                priceExpression: PERCENTAGE_OF_NOTIONAL
                                priceType: ASSET_PRICE
                          quantity:
                          - value:
                              unit:
                                financialUnit: CONTRACTUAL_PRODUCT
                              value: 6000000.0
                    tradeDate:
                      value: 2023-09-21
                    tradeIdentifier:
                    - assignedIdentifier:
                      - identifier:
                          value: UC1Q0EKXFH6260
            intent: CONTRACT_FORMATION
            after:
            - state:
                positionState: FORMED
              trade:
                party:
                - account:
                    accountName:
                      value: DEALER02-ACCOUNT01
                  meta:
                    globalKey: 374231c5
                  name:
                    value: DEALER02
                  partyId:
                  - identifier:
                      value: DEALER02-ACCOUNT01
                - account:
                    accountName:
                      value: CLIENT02-ACCOUNT02
                  meta:
                    globalKey: c9569656
                  name:
                    value: CLIENT02
                  partyId:
                  - identifier:
                      value: CLIENT02-LEI02
                partyRole:
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                  role: BUYER
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                  role: SELLER
                tradableProduct:
                  counterparty:
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: DEALER02-ACCOUNT01
                        meta:
                          globalKey: 374231c5
                        name:
                          value: DEALER02
                        partyId:
                        - identifier:
                            value: DEALER02-ACCOUNT01
                    role: PARTY_1
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: CLIENT02-ACCOUNT02
                        meta:
                          globalKey: c9569656
                        name:
                          value: CLIENT02
                        partyId:
                        - identifier:
                            value: CLIENT02-LEI02
                    role: PARTY_2
                  product:
                    contractualProduct:
                      productTaxonomy:
                      - source: OTHER
                        productQualifier: RepurchaseAgreement
                      economicTerms:
                        collateral:
                          collateralPortfolio:
                          - value:
                              collateralPosition:
                              - product:
                                  contractualProduct:
                                    economicTerms:
                                      payout:
                                        assetPayout:
                                        - payerReceiver:
                                            payer: PARTY_2
                                            receiver: PARTY_1
                                          priceQuantity:
                                            quantitySchedule:
                                              value:
                                                unit:
                                                  financialUnit: CONTRACTUAL_PRODUCT
                                                value: 6000000.0
                                          assetLeg:
                                          - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                            settlementDate:
                                              adjustableDate:
                                                unadjustedDate: 2023-09-21
                                          durationType:
                                            durationType: TERM
                                          securityInformation:
                                            security:
                                              productIdentifier:
                                              - value:
                                                  identifier:
                                                    value: GBYGEZTLXN1
                                                  source: ISIN
                                        - payerReceiver:
                                            payer: PARTY_1
                                            receiver: PARTY_2
                                          priceQuantity:
                                            quantitySchedule:
                                              value:
                                                unit:
                                                  financialUnit: CONTRACTUAL_PRODUCT
                                                value: 6000000.0
                                          assetLeg:
                                          - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                            settlementDate:
                                              adjustableDate:
                                                unadjustedDate: 2023-09-26
                                          durationType:
                                            durationType: TERM
                                          securityInformation:
                                            security:
                                              productIdentifier:
                                              - value:
                                                  identifier:
                                                    value: GBYGEZTLXN1
                                                  source: ISIN
                          collateralProvisions:
                            collateralType: NON_CASH
                            eligibleCollateral:
                            - criteria:
                              - treatment:
                                  valuationTreatment:
                                    haircutPercentage: 0.02
                                    marginPercentage: 98.4
                        effectiveDate:
                          adjustableDate:
                            unadjustedDate: 2023-09-21
                        payout:
                          interestRatePayout:
                          - payerReceiver:
                              payer: PARTY_1
                              receiver: PARTY_2
                            principalPayment:
                              finalPayment: true
                              initialPayment: true
                              intermediatePayment: false
                              principalPaymentSchedule:
                                finalPrincipalPayment:
                                  payerReceiver:
                                    payer: PARTY_2
                                    receiver: PARTY_1
                                  principalAmount:
                                    value: 5788297.78
                                  principalPaymentDate:
                                    unadjustedDate: 2023-09-26
                                initialPrincipalPayment:
                                  payerReceiver:
                                    payer: PARTY_1
                                    receiver: PARTY_2
                                  principalAmount:
                                    value: 5785920.0
                                  principalPaymentDate:
                                    unadjustedDate: 2023-09-21
                            calculationPeriodDates:
                              effectiveDate:
                                adjustableDate:
                                  unadjustedDate: 2023-09-21
                              terminationDate:
                                adjustableDate:
                                  unadjustedDate: 2023-09-26
                            dayCountFraction:
                              value: ACT/360
                            rateSpecification:
                              fixedRate:
                                rateSchedule:
                                  price:
                                    value:
                                      unit:
                                        currency:
                                          value: GBP
                                      value: 0.05
                                      perUnitOf:
                                        currency:
                                          value: GBP
                                      priceExpression:
                                        priceType: INTEREST_RATE
                        terminationDate:
                          adjustableDate:
                            unadjustedDate: 2023-09-26
                  tradeLot:
                  - priceQuantity:
                    - meta:
                        globalKey: b3c54555
                      price:
                      - value:
                          unit:
                            currency:
                              value: GBP
                          value: 0.05
                          perUnitOf:
                            currency:
                              value: GBP
                          priceExpression:
                            priceType: INTEREST_RATE
                      quantity:
                      - value:
                          unit:
                            currency:
                              value: GBP
                          value: 5785920.0
                    - meta:
                        globalKey: e23658fc
                      observable:
                        productIdentifier:
                        - value:
                            identifier:
                              value: GBYGEZTLXN1
                      price:
                      - value:
                          value: 6000000.0
                          perUnitOf:
                            financialUnit: CONTRACTUAL_PRODUCT
                          priceExpression:
                            cleanOrDirty: DIRTY
                            priceExpression: PERCENTAGE_OF_NOTIONAL
                            priceType: ASSET_PRICE
                      quantity:
                      - value:
                          unit:
                            financialUnit: CONTRACTUAL_PRODUCT
                          value: 6000000.0
                tradeDate:
                  value: 2023-09-21
                tradeIdentifier:
                - assignedIdentifier:
                  - identifier:
                      value: UC1Q0EKXFH6260
            eventQualifier: ContractFormation
            meta:
              globalKey: 6a58abb
          eventCreatedDate: 2023-08-25T10:26:24.441Z
        tradeId: UC2Q0EKXFH6260
      properties:
        tradeId:
          example: UC2Q0EKXFH6260
          title: Unique Identifier for the Trade.
          type: string
        businessEvents:
          items:
            $ref: '#/components/schemas/BusinessEventDto'
          type: array
      type: object
    BusinessEventDto:
      example:
        businessEventName: TradeContractFormedEvent
        businessEventSeq: 1
        businessEventData:
          effectiveDate: 2023-09-21
          eventDate: 2023-09-21
          instruction:
          - before:
              value:
                state:
                  positionState: EXECUTED
                trade:
                  party:
                  - account:
                      accountName:
                        value: DEALER02-ACCOUNT01
                    meta:
                      globalKey: 374231c5
                    name:
                      value: DEALER02
                    partyId:
                    - identifier:
                        value: DEALER02-ACCOUNT01
                  - account:
                      accountName:
                        value: CLIENT02-ACCOUNT02
                    meta:
                      globalKey: c9569656
                    name:
                      value: CLIENT02
                    partyId:
                    - identifier:
                        value: CLIENT02-LEI02
                  partyRole:
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: DEALER02-ACCOUNT01
                        meta:
                          globalKey: 374231c5
                        name:
                          value: DEALER02
                        partyId:
                        - identifier:
                            value: DEALER02-ACCOUNT01
                    role: BUYER
                  - partyReference:
                      value:
                        account:
                          accountName:
                            value: CLIENT02-ACCOUNT02
                        meta:
                          globalKey: c9569656
                        name:
                          value: CLIENT02
                        partyId:
                        - identifier:
                            value: CLIENT02-LEI02
                    role: SELLER
                  tradableProduct:
                    counterparty:
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: DEALER02-ACCOUNT01
                          meta:
                            globalKey: 374231c5
                          name:
                            value: DEALER02
                          partyId:
                          - identifier:
                              value: DEALER02-ACCOUNT01
                      role: PARTY_1
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: CLIENT02-ACCOUNT02
                          meta:
                            globalKey: c9569656
                          name:
                            value: CLIENT02
                          partyId:
                          - identifier:
                              value: CLIENT02-LEI02
                      role: PARTY_2
                    product:
                      contractualProduct:
                        productTaxonomy:
                        - source: OTHER
                          productQualifier: RepurchaseAgreement
                        economicTerms:
                          collateral:
                            collateralPortfolio:
                            - value:
                                collateralPosition:
                                - product:
                                    contractualProduct:
                                      economicTerms:
                                        payout:
                                          assetPayout:
                                          - payerReceiver:
                                              payer: PARTY_2
                                              receiver: PARTY_1
                                            priceQuantity:
                                              quantitySchedule:
                                                value:
                                                  unit:
                                                    financialUnit: CONTRACTUAL_PRODUCT
                                                  value: 6000000.0
                                            assetLeg:
                                            - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                              settlementDate:
                                                adjustableDate:
                                                  unadjustedDate: 2023-09-21
                                            durationType:
                                              durationType: TERM
                                            securityInformation:
                                              security:
                                                productIdentifier:
                                                - value:
                                                    identifier:
                                                      value: GBYGEZTLXN1
                                                    source: ISIN
                                          - payerReceiver:
                                              payer: PARTY_1
                                              receiver: PARTY_2
                                            priceQuantity:
                                              quantitySchedule:
                                                value:
                                                  unit:
                                                    financialUnit: CONTRACTUAL_PRODUCT
                                                  value: 6000000.0
                                            assetLeg:
                                            - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                              settlementDate:
                                                adjustableDate:
                                                  unadjustedDate: 2023-09-26
                                            durationType:
                                              durationType: TERM
                                            securityInformation:
                                              security:
                                                productIdentifier:
                                                - value:
                                                    identifier:
                                                      value: GBYGEZTLXN1
                                                    source: ISIN
                            collateralProvisions:
                              collateralType: NON_CASH
                              eligibleCollateral:
                              - criteria:
                                - treatment:
                                    valuationTreatment:
                                      haircutPercentage: 0.02
                                      marginPercentage: 98.4
                          effectiveDate:
                            adjustableDate:
                              unadjustedDate: 2023-09-21
                          payout:
                            interestRatePayout:
                            - payerReceiver:
                                payer: PARTY_1
                                receiver: PARTY_2
                              principalPayment:
                                finalPayment: true
                                initialPayment: true
                                intermediatePayment: false
                                principalPaymentSchedule:
                                  finalPrincipalPayment:
                                    payerReceiver:
                                      payer: PARTY_2
                                      receiver: PARTY_1
                                    principalAmount:
                                      value: 5788297.78
                                    principalPaymentDate:
                                      unadjustedDate: 2023-09-26
                                  initialPrincipalPayment:
                                    payerReceiver:
                                      payer: PARTY_1
                                      receiver: PARTY_2
                                    principalAmount:
                                      value: 5785920.0
                                    principalPaymentDate:
                                      unadjustedDate: 2023-09-21
                              calculationPeriodDates:
                                effectiveDate:
                                  adjustableDate:
                                    unadjustedDate: 2023-09-21
                                terminationDate:
                                  adjustableDate:
                                    unadjustedDate: 2023-09-26
                              dayCountFraction:
                                value: ACT/360
                              rateSpecification:
                                fixedRate:
                                  rateSchedule:
                                    price:
                                      value:
                                        unit:
                                          currency:
                                            value: GBP
                                        value: 0.05
                                        perUnitOf:
                                          currency:
                                            value: GBP
                                        priceExpression:
                                          priceType: INTEREST_RATE
                          terminationDate:
                            adjustableDate:
                              unadjustedDate: 2023-09-26
                    tradeLot:
                    - priceQuantity:
                      - meta:
                          globalKey: b3c54555
                        price:
                        - value:
                            unit:
                              currency:
                                value: GBP
                            value: 0.05
                            perUnitOf:
                              currency:
                                value: GBP
                            priceExpression:
                              priceType: INTEREST_RATE
                        quantity:
                        - value:
                            unit:
                              currency:
                                value: GBP
                            value: 5785920.0
                      - meta:
                          globalKey: e23658fc
                        observable:
                          productIdentifier:
                          - value:
                              identifier:
                                value: GBYGEZTLXN1
                        price:
                        - value:
                            value: 6000000.0
                            perUnitOf:
                              financialUnit: CONTRACTUAL_PRODUCT
                            priceExpression:
                              cleanOrDirty: DIRTY
                              priceExpression: PERCENTAGE_OF_NOTIONAL
                              priceType: ASSET_PRICE
                        quantity:
                        - value:
                            unit:
                              financialUnit: CONTRACTUAL_PRODUCT
                            value: 6000000.0
                  tradeDate:
                    value: 2023-09-21
                  tradeIdentifier:
                  - assignedIdentifier:
                    - identifier:
                        value: UC1Q0EKXFH6260
          intent: CONTRACT_FORMATION
          after:
          - state:
              positionState: FORMED
            trade:
              party:
              - account:
                  accountName:
                    value: DEALER02-ACCOUNT01
                meta:
                  globalKey: 374231c5
                name:
                  value: DEALER02
                partyId:
                - identifier:
                    value: DEALER02-ACCOUNT01
              - account:
                  accountName:
                    value: CLIENT02-ACCOUNT02
                meta:
                  globalKey: c9569656
                name:
                  value: CLIENT02
                partyId:
                - identifier:
                    value: CLIENT02-LEI02
              partyRole:
              - partyReference:
                  value:
                    account:
                      accountName:
                        value: DEALER02-ACCOUNT01
                    meta:
                      globalKey: 374231c5
                    name:
                      value: DEALER02
                    partyId:
                    - identifier:
                        value: DEALER02-ACCOUNT01
                role: BUYER
              - partyReference:
                  value:
                    account:
                      accountName:
                        value: CLIENT02-ACCOUNT02
                    meta:
                      globalKey: c9569656
                    name:
                      value: CLIENT02
                    partyId:
                    - identifier:
                        value: CLIENT02-LEI02
                role: SELLER
              tradableProduct:
                counterparty:
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                  role: PARTY_1
                - partyReference:
                    value:
                      account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                  role: PARTY_2
                product:
                  contractualProduct:
                    productTaxonomy:
                    - source: OTHER
                      productQualifier: RepurchaseAgreement
                    economicTerms:
                      collateral:
                        collateralPortfolio:
                        - value:
                            collateralPosition:
                            - product:
                                contractualProduct:
                                  economicTerms:
                                    payout:
                                      assetPayout:
                                      - payerReceiver:
                                          payer: PARTY_2
                                          receiver: PARTY_1
                                        priceQuantity:
                                          quantitySchedule:
                                            value:
                                              unit:
                                                financialUnit: CONTRACTUAL_PRODUCT
                                              value: 6000000.0
                                        assetLeg:
                                        - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                          settlementDate:
                                            adjustableDate:
                                              unadjustedDate: 2023-09-21
                                        durationType:
                                          durationType: TERM
                                        securityInformation:
                                          security:
                                            productIdentifier:
                                            - value:
                                                identifier:
                                                  value: GBYGEZTLXN1
                                                source: ISIN
                                      - payerReceiver:
                                          payer: PARTY_1
                                          receiver: PARTY_2
                                        priceQuantity:
                                          quantitySchedule:
                                            value:
                                              unit:
                                                financialUnit: CONTRACTUAL_PRODUCT
                                              value: 6000000.0
                                        assetLeg:
                                        - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                          settlementDate:
                                            adjustableDate:
                                              unadjustedDate: 2023-09-26
                                        durationType:
                                          durationType: TERM
                                        securityInformation:
                                          security:
                                            productIdentifier:
                                            - value:
                                                identifier:
                                                  value: GBYGEZTLXN1
                                                source: ISIN
                        collateralProvisions:
                          collateralType: NON_CASH
                          eligibleCollateral:
                          - criteria:
                            - treatment:
                                valuationTreatment:
                                  haircutPercentage: 0.02
                                  marginPercentage: 98.4
                      effectiveDate:
                        adjustableDate:
                          unadjustedDate: 2023-09-21
                      payout:
                        interestRatePayout:
                        - payerReceiver:
                            payer: PARTY_1
                            receiver: PARTY_2
                          principalPayment:
                            finalPayment: true
                            initialPayment: true
                            intermediatePayment: false
                            principalPaymentSchedule:
                              finalPrincipalPayment:
                                payerReceiver:
                                  payer: PARTY_2
                                  receiver: PARTY_1
                                principalAmount:
                                  value: 5788297.78
                                principalPaymentDate:
                                  unadjustedDate: 2023-09-26
                              initialPrincipalPayment:
                                payerReceiver:
                                  payer: PARTY_1
                                  receiver: PARTY_2
                                principalAmount:
                                  value: 5785920.0
                                principalPaymentDate:
                                  unadjustedDate: 2023-09-21
                          calculationPeriodDates:
                            effectiveDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-21
                            terminationDate:
                              adjustableDate:
                                unadjustedDate: 2023-09-26
                          dayCountFraction:
                            value: ACT/360
                          rateSpecification:
                            fixedRate:
                              rateSchedule:
                                price:
                                  value:
                                    unit:
                                      currency:
                                        value: GBP
                                    value: 0.05
                                    perUnitOf:
                                      currency:
                                        value: GBP
                                    priceExpression:
                                      priceType: INTEREST_RATE
                      terminationDate:
                        adjustableDate:
                          unadjustedDate: 2023-09-26
                tradeLot:
                - priceQuantity:
                  - meta:
                      globalKey: b3c54555
                    price:
                    - value:
                        unit:
                          currency:
                            value: GBP
                        value: 0.05
                        perUnitOf:
                          currency:
                            value: GBP
                        priceExpression:
                          priceType: INTEREST_RATE
                    quantity:
                    - value:
                        unit:
                          currency:
                            value: GBP
                        value: 5785920.0
                  - meta:
                      globalKey: e23658fc
                    observable:
                      productIdentifier:
                      - value:
                          identifier:
                            value: GBYGEZTLXN1
                    price:
                    - value:
                        value: 6000000.0
                        perUnitOf:
                          financialUnit: CONTRACTUAL_PRODUCT
                        priceExpression:
                          cleanOrDirty: DIRTY
                          priceExpression: PERCENTAGE_OF_NOTIONAL
                          priceType: ASSET_PRICE
                    quantity:
                    - value:
                        unit:
                          financialUnit: CONTRACTUAL_PRODUCT
                        value: 6000000.0
              tradeDate:
                value: 2023-09-21
              tradeIdentifier:
              - assignedIdentifier:
                - identifier:
                    value: UC1Q0EKXFH6260
          eventQualifier: ContractFormation
          meta:
            globalKey: 6a58abb
        eventCreatedDate: 2023-08-25T10:26:24.441Z
      properties:
        businessEventName:
          example: TradeContractFormedEvent
          title: Name of the Business Events.
          type: string
        businessEventSeq:
          example: 1
          format: int32
          title: Sequence of the Business Event processed for the trade at FMI.
          type: integer
        businessEventData:
          example:
            effectiveDate: 2023-09-21
            eventDate: 2023-09-21
            instruction:
            - before:
                value:
                  state:
                    positionState: EXECUTED
                  trade:
                    party:
                    - account:
                        accountName:
                          value: DEALER02-ACCOUNT01
                      meta:
                        globalKey: 374231c5
                      name:
                        value: DEALER02
                      partyId:
                      - identifier:
                          value: DEALER02-ACCOUNT01
                    - account:
                        accountName:
                          value: CLIENT02-ACCOUNT02
                      meta:
                        globalKey: c9569656
                      name:
                        value: CLIENT02
                      partyId:
                      - identifier:
                          value: CLIENT02-LEI02
                    partyRole:
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: DEALER02-ACCOUNT01
                          meta:
                            globalKey: 374231c5
                          name:
                            value: DEALER02
                          partyId:
                          - identifier:
                              value: DEALER02-ACCOUNT01
                      role: BUYER
                    - partyReference:
                        value:
                          account:
                            accountName:
                              value: CLIENT02-ACCOUNT02
                          meta:
                            globalKey: c9569656
                          name:
                            value: CLIENT02
                          partyId:
                          - identifier:
                              value: CLIENT02-LEI02
                      role: SELLER
                    tradableProduct:
                      counterparty:
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: DEALER02-ACCOUNT01
                            meta:
                              globalKey: 374231c5
                            name:
                              value: DEALER02
                            partyId:
                            - identifier:
                                value: DEALER02-ACCOUNT01
                        role: PARTY_1
                      - partyReference:
                          value:
                            account:
                              accountName:
                                value: CLIENT02-ACCOUNT02
                            meta:
                              globalKey: c9569656
                            name:
                              value: CLIENT02
                            partyId:
                            - identifier:
                                value: CLIENT02-LEI02
                        role: PARTY_2
                      product:
                        contractualProduct:
                          productTaxonomy:
                          - source: OTHER
                            productQualifier: RepurchaseAgreement
                          economicTerms:
                            collateral:
                              collateralPortfolio:
                              - value:
                                  collateralPosition:
                                  - product:
                                      contractualProduct:
                                        economicTerms:
                                          payout:
                                            assetPayout:
                                            - payerReceiver:
                                                payer: PARTY_2
                                                receiver: PARTY_1
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-21
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                                            - payerReceiver:
                                                payer: PARTY_1
                                                receiver: PARTY_2
                                              priceQuantity:
                                                quantitySchedule:
                                                  value:
                                                    unit:
                                                      financialUnit: CONTRACTUAL_PRODUCT
                                                    value: 6000000.0
                                              assetLeg:
                                              - deliveryMethod: DELIVERY_VERSUS_PAYMENT
                                                settlementDate:
                                                  adjustableDate:
                                                    unadjustedDate: 2023-09-26
                                              durationType:
                                                durationType: TERM
                                              securityInformation:
                                                security:
                                                  productIdentifier:
                                                  - value:
                                                      identifier:
                                                        value: GBYGEZTLXN1
                                                      source: ISIN
                              collateralProvisions:
                                collateralType: NON_CASH
                                eligibleCollateral:
                                - criteria:
                                  - treatment:
                                      valuationTreatment:
[...]
